<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/app/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="styles/app.css">
</head>
<body>

 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">fhf demo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Artists</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <h1>Artists</h1>
        <ul class="artist-list" ng-controller="ArtistListController">
              <li class="artist-item row" ng-repeat="artist in artists">
                    <div class="artist-image col-sm-2">
                        <img ng-src="{{artist.ImageUrl}}">
                    </div>
                    <div class="artist-detail col-sm-10">
                        <h3 class="artist-name">{{artist.Name}}</h3>
                        <h5>Stats</h5>
                        <ul class="artist-stats">
                          <li><strong>Genres: </strong><ul><li ng-repeat="genre in artist.Genres">{{genre}}</li></ul></li>
                          <li><strong>Number of alubms:</strong> {{artist.NumberOfAlbums}}</li>    
                        </ul>
                   </div>
             </li>
       </ul>

    </div><!-- /.container -->

    <!-- bower_components -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!-- bower_components -->
  
    <!-- app-->
    <script src="scripts/app.js"></script>
    <!-- app -->

</body>
</html>