<div class="artist-single">
  <div class="artist-item">
    <div class="artist-image col-sm-2">
          <img ng-src="{{artist.ImageUrl}}">
          </div>
          <div class="artist-detail col-sm-10">
          <h3 class="artist-name">{{artist.Name}}</i></h3>
          <h5>Stats</h5>
          <ul class="artist-stats">
            <li><strong>Genres: </strong><ul><li ng-repeat="genre in artist.Genres">{{genre}}</li></ul></li>
            <li><strong>Number of alubms:</strong> {{artist.NumberOfAlbums}}</li>    
          </ul>
    </div>
  </div>
</div>